<div class="header" ng-controller="headerController">
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Hatch</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active">
					<a ui-sref="main">Home</a>
				</li>
				
				<li ui-sref-active="active">
					<a ui-sref="jobs">Jobs</a>
				</li>

				<li ng-hide="isAuthenticated()" ui-sref-active="active">
					<a ui-sref="login">Login</a>
				</li>
				<li ng-show="isAuthenticated()" ui-sref-active="active">
					<a ui-sref="logout">Logout</a>
				</li>
				<li
			</ul>
		</div>
	</div>
</div>