<form class="form-horizontal" ng-submit="submit()" name="register" novalidate>
  <fieldset>
    <div id="legend">
      <legend>Register with Hatch</legend>
    </div>
 
    <div class="form-group" ng-class="{'has-error': register.email.$invalid && register.email.$dirty }">
      <!-- E-mail -->
      <label class="col-lg-2 control-label" for="email">E-mail</label>
      <div class="col-lg-10">
        <input type="email" name="email" ng-model="email" class="form-control" required>
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
 
    <div class="form-group">
      <!-- Password-->
      <label class="col-lg-2 control-label" for="password">Password</label>
      <div class="col-lg-10">
        <input type="password" ng-model="password" name="password" class="form-control" required>
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    <div class="form-group" ng-class="{'has-error': register.password_confirm.$invalid && register.password_confirm.$dirty }">
      <!-- Password -->
      <label class="control-label col-lg-2"  for="password_confirm">Password (Confirm)</label>
      <div class="col-lg-10">
        <input type="password" ng-model="password_confirm" name="password_confirm" placeholder="" class="form-control" confirm-password="password">
        <p ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid" class="help-block">Passwords must be same.</p>
        <p ng-if="!register.password_confirm.$dirty" class="help-block">Please confirm password.</p>
      </div>
    </div>
 
    <div class="form-group">
      <!-- Button -->
      <div class="col-lg-10 col-lg-offset-2">
        <button ng-disabled="register.$invalid" class="btn btn-success" type="submit">Register</button>
      </div>
    </div>
  </fieldset>
</form>